<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">个人信息管理 - 密码修改
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <form id="form">
                <div class="row">
                    <div class="col-md-2">
                        输入原始密码
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="oldPassword" name="oldPassword" type="password"/>
                    </div>
                </div>
                <div class="height-20"></div>
                <div class="row">
                    <div class="col-md-2">
                        输入新密码
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="newPassword" name="newPassword" type="password"/>
                    </div>

                </div>
                <div class="height-20"></div>
                <div class="row">
                    <div class="col-md-2">
                        再次确认新密码
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="confirmNewPassword" name="confirmNewPassword" type="password"/>
                    </div>
                </div>
                <div class="height-20"></div>
            </form>
            <button class="btn btn-primary" id="edit-password">确认修改</button>
        </div>

    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">

    // 校验两次密码是否输入一致
    jQuery.validator.addMethod("confirmNewPassword", function (value, element) {
        return value === $("#newPassword").val();
    }, "两次密码输入不一致，请检查");

    let editPasswordValidate = $("#form").validate({
        rules: {
            oldPassword: {
                required: true,
                remote: {
                    url: "/manage/user/validatePassword",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        'username': function () {
                            return $.trim($("#username").text());
                        },
                        'oldPassword': function () {
                            return $("#oldPassword").val();
                        }
                    }
                }
            },
            newPassword: {
                required: true,
            },
            confirmNewPassword: {
                required: true,
                confirmNewPassword: true
            }
        },
        messages: {
            oldPassword: {
                required: "请输入原密码",
                remote: "原密码不正确"
            },
            newPassword: {
                required: "请输入新密码"
            },
            confirmNewPassword: {
                required: "请在此输入密码",
                confirmNewPassword: "两次密码输入不一致"
            }

        }
    });

    $("#edit-password").on("click", function () {
        if (editPasswordValidate.form()) {
            $.ajax({
                url: "/manage/user/update",
                type: "POST",
                dataType: "JSON",
                data: {
                    username: function () {
                        return $.trim($("#username").text());
                    },
                    password: function () {
                        return $("#newPassword").val();
                    }
                },
                success: function (result) {
                    $.myNotify.success(result.username + "密码修改成功！");
                }
            })
        }
    })
</script>
</html>