<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">个人信息管理 - 邮件通知设置
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div id="message">
            </div>
        </div>
        <div class="height-20"></div>
    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
    function changeMailStatus(status) {
        let $message = $("#message");
        $message.html("");
        if (status === 1) {
            $message.append("<p>邮件通知已开启</p>");
            $message.append("<p><button class='btn btn-primary mail' id='off'>关闭通知</button></p>");
        } else {
            $message.append("<p>邮件通知已关闭</p>");
            $message.append("<p><button class='btn btn-primary mail' id='on'>开启通知</button></p>");
        }
    }

    $(function () {
        $.ajax({
            url: "/manage/user/currentUser",
            type: "POST",
            dataType: "JSON",
            data: {
                username: function () {
                    return $.trim($("#username").text());
                }
            },
            success: function (result) {
                changeMailStatus(result.monitorMail);
            }
        })
    });

    $("#message").on("click", ".mail", function () {
        let monitorMail = $(this).attr("id") === "on" ? 1 : 0;
        $.ajax({
            url: "/manage/user/update",
            type: "POST",
            dataType: "JSON",
            data: {
                monitorMail: monitorMail,
                oldUsername: function () {
                    return $.trim($("#username").text());
                }
            },
            success: function (result) {
                changeMailStatus(result.monitorMail);
                let flag = result.monitorMail === 1 ? "开启" : "关闭";
                $.myNotify.success("邮件通知已" + flag);
            }
        })
    })
</script>
</html>