<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>数据服务监控与统计系统</title>
</head>
<body>
<section class="container fromAnalyse">
    <div class="row">
        <div class="col-md-12">
            当前节点:<strong class="" id="groupSelect"></strong>
            <div class="height-20"></div>
            <strong class="" id="groupIdSelect" style="float: right;display: none"
                    th:text="${dataStatReport.getId()}"></strong>

            <strong class="groupId" id="groupId" style="float: right"
                    th:text="'?groupID='+${dataStatReport.getId()}"></strong>
            <ul class="nav nav-pills nav-justified ar-nav-pills center-block margin-bottom">
                <li><a class="href" href="#integrator/dataStat/synthesize">综合报告</a></li>
                <li><a class="href" href='#integrator/dataStat/timeAnalyse'>时段分析</a></li>
                <li class="active"><a class="href" href="">来源分析</a></li>
                <li><a class="href" href="#integrator/dataStat/naturalAnalyse">资源分析</a></li>
                <li><a class="href" href="#integrator/dataStat/siteAnalyse">站点状态监测</a></li>
                <li><a class="href" href="#integrator/dataStat/rateAnalyse">服务正常率时段分析</a></li>
            </ul>
            <div class="panel panel-primary">
                <div class="panel-heading">来源分析</div>
                <div class="panel-body">
                    <div class="panel-body" id="quarter">
                        <div class="form-group">
                            <strong>用户统计</strong>
                            <label class="checkbox-inline">
                                <input checked="checked" name="countType" type="radio" value="country">
                                <span>国家地区统计</span>
                            </label>
                            <label class="checkbox-inline">
                                <input name="countType" type="radio" value="internal">
                                <span>国内用户统计</span>
                            </label>
                            <label class="checkbox-inline">
                                <input name="countType" type="radio" value="yard">
                                <span>院内外用户统计</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="year">
                                本年
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-1">
                                一季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-2">
                                二季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-3">
                                三季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-4">
                                四季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="halfYear-1">
                                上半年
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="halfYear-2">
                                下半年
                            </label>
                        </div>
                        <div class="" id="chooseMonth">
                            自定义起始年月
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group date">
                                            <input class="form-control" id="datetimepicker10" type="text"/>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group date">
                                            <input class="form-control" id="datetimepicker11" type="text"/>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                </span>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-ar btn-primary" id="chooseYearMonth" onclick="selectTimeTest();"
                                        type="submit">查询
                                </button>
                            </div>
                        </div>


                        <div class="form-group">
                            <strong>选择类型</strong>
                            <label class="checkbox-inline">
                                <input checked="checked" name="sortType" type="radio" value="ip">
                                <span>IP数</span>
                            </label>
                            <label class="checkbox-inline">
                                <input name="sortType" type="radio" value="page">
                                <span>网页访问数</span>
                            </label>
                            <label class="checkbox-inline">
                                <input name="sortType" type="radio" value="hits">
                                <span>请求数</span>
                            </label>
                            <label class="checkbox-inline">
                                <input name="sortType" type="radio" value="downloads">
                                <span>下载量</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading chartTitle">统计排行 统计时段：
                    <strong id="period" th:text="2019年"></strong></div>
                <div class="panel-body">
                    <!--国家地区 ip数-->
                    <div class="charts" id="pie"
                    ></div>
                    <!--国家地区 网页请求数-->
                    <div class="charts" id="zhu"
                    ></div>
                    <!--国家地区 请求数-->
                    <div class="charts" id="table"
                    ></div>
                </div>
            </div>


        </div>
    </div>
</section>
<script th:inline="javascript" type="text/javascript">
    var selectVal = $("#groupIdSelect").text();
    var objSel = $("header").find('#groupsList');
    var text = null;
    var ops = objSel.find("option");
    for (var i = 0; i < ops.length; i++) {
        if (selectVal == ops[i].value) {
            text = ops[i].text;    //返回当前选定值对应的显示值
        }
    }
    $("#groupSelect").text(text);

    $(document).ready(function () {
        //设置统计时段
        var pDate = new Date;
        var pYear = pDate.getFullYear(); //获取当前年
        $("#period").text(pYear + "年");
        //1、设置查询时间默认选中项
        $("input[name='quarter'][value='year']").attr("checked", true);
        //2、设置排序方式默认选中项
        $("input[name='countType'][value='country']").attr("checked", true);

        // $("#sex option[value='']").removeAttr("selected");               //2.移除默认选项的选中状态  removeAttr("selected")
        // $("#sex option[value='"+data+"']").attr("selected","selected");
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        sendAjax(groupID, pYear + "0101", pYear + "1231");
    });


    // 初始化时间插件
    var $datetimepickerBegin = $('#datetimepicker10');
    var beginDate = new Date();
    $datetimepickerBegin.datepicker({
        minViewMode: 1, // 最小显示为月份
        autoclose: true, // 自动关闭
        endDate: new Date(),
        format: 'yyyy/mm',
        language: 'zh-CN'
    }).on("changeDate", function (date) {
        beginDate = date.date;
        initDatetimepickerEnd();
    });


    var $datetimepickerEnd = $('#datetimepicker11');

    function initDatetimepickerEnd() {
        $datetimepickerEnd.datepicker("destroy");
        $datetimepickerEnd.datepicker({
            minViewMode: 1,
            autoclose: true,
            endDate: new Date(),
            format: 'yyyy/mm',
            language: 'zh-CN',
            startDate: beginDate,
            beforeShowMonth: function (date) {
                var time = $datetimepickerBegin.val().split("\/");
                if (date < new Date(time[0], time[1] - 1, 1)) {
                    return false;
                }
            }
        });
    }

    initDatetimepickerEnd();

    var $datetimepickerMonth = $('#datetimepicker101');
    $datetimepickerMonth.datepicker({
        minViewMode: 1,
        autoclose: true,
        format: 'yyyy/mm',
        language: 'zh-CN'
    });

    /*
   * 统计范围选择后执行*/
    $("#quarter input[name='countType']").on("change", function () {
        var pDate = new Date;
        var pYear = pDate.getFullYear(); //获取当前年
        var _this = this;
        var symbol = _this.value;
        var timeConvert = msisAPP.radioTimeConvert(symbol);
        var startDate = pYear + "0101";
        var endDate = pYear + "1231";
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        var orderBy = "hits";
        sendAjax(groupID, startDate, endDate);
        //设置排序方式默认选中项
        $("input[name='quarter'][value='year']").prop("checked", "checked");
        $("#period").text(pYear + "年");
    });

    /*
    * 季度选择后执行*/
    $("#quarter input[name='quarter']").on("change", function () {
        var _this = this;
        var symbol = _this.value;
        var timeConvert = msisAPP.radioTimeConvert(symbol);
        var startDate = timeConvert.begin;
        var endDate = timeConvert.end;
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        var orderBy = "hits";
        $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
        sendAjax(groupID, startDate, endDate);
    });

    /**
     * 时间选择后执行
     */
    function selectTimeTest() {
        if ($datetimepickerBegin.val().length === 0 || $datetimepickerEnd.val().length === 0) {
            $.myNotify.warning("请选择完整时间！");
            return;
        }
        var begin = msisAPP.selectTimeConvert($datetimepickerBegin.val());
        var end = msisAPP.selectTimeConvert($datetimepickerEnd.val());
        var startDate = begin.begin;
        var endDate = end.end;
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        var orderBy = "hits";
        $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
        sendAjax(groupID, startDate, endDate);
        //设置排序方式默认选中项
    };

    $("input[name='sortType']").on("change", function () {
        var orderBy = this.value;
        var val = $('input:radio[name="quarter"]:checked').val();
        var begin = msisAPP.selectTimeConvert($datetimepickerBegin.val());
        var startDate = null;
        var endDate = null;
        if (val != null) {
            var symbol = $('input:radio[name="quarter"]:checked').val();
            var timeConvert = msisAPP.radioTimeConvert(symbol);
            startDate = timeConvert.begin;
            endDate = timeConvert.end;
        }
        $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        sendAjax(groupID, startDate, endDate);
    });

    var chart = {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
    };
    var colors = ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'];
    var title = {
        text: '用户来源统计'
    };

    let countTypeCn = $.trim($("input[name='countType']:checked").next("span").text());
    let sortTypeCn = $.trim($("input[name='sortType']:checked").next("span").text());

    var tooltip = {
        pointFormat: '<b>{point.y}<br/>比率:{point.percentage:.2f}%</b>',

        // formatter:function () {
        //     let _y = msisAPP.thousands(msisAPP.evolveNumber(this.y, "MB"));
        //     return "<b>" + this.y + "</b> <br/>{point.percentage:.2f}%"
        // }
    };
    var plotOptions = {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                // enabled: false
            },
            showInLegend: true,
            point: {
                events: {
                    legendItemClick: function () {
                        return false;
                    }
                }
            },
        }
    };
    var series = [{
        type: 'pie',
        name: '个数',
        colorByPoint: true,
        data: []
    }];

    var json = {};
    json.chart = chart;
    json.title = title;
    json.tooltip = tooltip;
    json.series = series;
    json.plotOptions = plotOptions;
    $('#pie').highcharts(json);

    //柱状图
    var chartZhu = {
        type: 'bar',
        maxheight: 1500
    };
    var plotOptionsZhu = {
        bar: {
            dataLabels: {
                enabled: true
            },
            // pointWidth: 20,
        }
    };
    var xAxis = {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    };
    var yAxis = {
        title: {
            text: "访问量"
        },
        pointWidth: 10
    };
    var tooltipZhu = {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    };
    var seriesZhu = [{
        name: 'IP数',
        data: [1, 2, 3, 2, 5,]
    }];

    var jsonZhu = {};
    jsonZhu.chart = chartZhu;
    jsonZhu.title = title;
    jsonZhu.xAxis = xAxis;
    jsonZhu.yAxis = yAxis;
    jsonZhu.tooltip = tooltipZhu;
    jsonZhu.plotOptions = plotOptionsZhu;
    jsonZhu.series = seriesZhu;
    $('#zhu').highcharts(jsonZhu);

    //表格
    var dynamicHeader = [];
    dynamicHeader.push({
        field: 'domain',
        title: '来源地区',
        width: 500,
        align: 'center',
        valign: 'middle',
        footerFormatter: function (value) {
            return "总计";
        }
    }, {
        field: 'ips',
        title: 'IP数',
        width: 200,
        align: 'center',
        valign: 'middle',
        class: 'number-thousands',
        footerFormatter: function (rows) {
            var sum = 0;
            for (var i = 0; i < rows.length; i++) {
                sum += rows[i].ips;
            }
            return sum;
        }
    }, {
        field: 'pages',
        title: '网页访问数',
        width: 200,
        align: 'center',
        valign: 'middle',
        class: 'number-thousands',
        footerFormatter: function (rows) {
            var sum = 0;
            for (var i = 0; i < rows.length; i++) {
                sum += rows[i].pages;
            }
            return sum;
        }
    }, {
        field: 'hits',
        title: '请求数',
        width: 200,
        align: 'center',
        valign: 'middle',
        class: 'number-thousands',
        footerFormatter: function (rows) {
            var sum = 0;
            for (var i = 0; i < rows.length; i++) {
                sum += rows[i].hits;
            }
            return sum;
        }
    }, {
        field: 'downloads',
        title: '下载量(MB)',
        width: 200,
        align: 'center',
        valign: 'middle',
        formatter: function (value,
                             row, index) {
            var valu = (value / 1024 / 1024).toFixed(2) + "MB";
            return valu;
        },
        footerFormatter: function (rows) {
            var sum = 0;
            for (var i = 0; i < rows.length; i++) {
                sum += rows[i].downloads;
            }
            return (sum / 1024 / 1024).toFixed(2) + "MB";
        }
    });
    $('#table').bootstrapTable({
        columns: dynamicHeader,
        showFooter: true
    });
    $('#table').bootstrapTable('hideLoading');


    function sendAjax(groupID, startDate, endDate) {
        let countType = $.trim($("input[name='countType']:checked").val());
        let sortType = $.trim($("input[name='sortType']:checked").val());

        let countTypeCn = $.trim($("input[name='countType']:checked").next("span").text());
        let sortTypeCn = $.trim($("input[name='sortType']:checked").next("span").text());

        $.ajax({

            url: "/integrator/dataStat/fromAnalyse/initPage",
            type: "POST",

            dataType: "JSON",
            data: {
                "groupID": groupID,
                "startDate": startDate,
                "endDate": endDate,
                "countType": countType,
                "sortType": sortType
            },
            success: function (data) {


                let mapDomain = data.countryCount;
                var Top10Data = new Array();
                var Top5DataX = new Array();
                var Top5DataY = new Array();

                var pieData = new Array();
                var zhuDatax = new Array();
                var zhuDatay = new Array();
                var countSum = 0;
                for (var i = 0; i < mapDomain.length; i++) {
                    if (sortType == "ip") {
                        pieData.push({name: mapDomain[i].domain, y: parseInt(mapDomain[i].ips)});
                        countSum = countSum + mapDomain[i].ips;
                    } else if (sortType == "page") {
                        pieData.push({name: mapDomain[i].domain, y: parseInt(mapDomain[i].pages)});
                        countSum = countSum + mapDomain[i].pages;
                    } else if (sortType == "hits") {
                        pieData.push({name: mapDomain[i].domain, y: parseInt(mapDomain[i].hits)});
                        countSum = countSum + mapDomain[i].hits;
                    } else if (sortType == "downloads") {
                        pieData.push({name: mapDomain[i].domain, y: parseInt(mapDomain[i].downloads)});
                        countSum = countSum + mapDomain[i].downloads;
                    }
                    zhuDatax.push(mapDomain[i].domain);
                    zhuDatay.push(parseInt(mapDomain[i].ips));
                }
                Top10Data = pieData.slice(0, 9);
                var elseData = 0;
                for (var j = 0; j < Top10Data.length; j++) {
                    elseData = elseData + parseInt(Top10Data[j].y);
                }
                if (mapDomain.length > 9) {
                    Top10Data.push({name: "其他", y: countSum - elseData});
                }
                Top5DataX = zhuDatax.slice(0, 5);
                Top5DataY = zhuDatay.slice(0, 5);

                //更新饼状图
                $('#pie').highcharts().redraw();
                if (sortType == "downloads") {
                    var title = {
                        text: countTypeCn + "—" + sortTypeCn + "(MB)",
                        style: {}
                    };
                } else {
                    var title = {
                        text: countTypeCn + "—" + sortTypeCn,
                        style: {}
                    };
                }
                var tooltip = {
                    pointFormat: sortTypeCn + ': <b>{point.y}   比率：{point.percentage:.2f}%</b>'
                };
                // alert($('#pie').highcharts().tooltip.text());
                $('#pie').highcharts().setTitle(title);
                $('#pie').highcharts().series[0].setData(Top10Data);
                //更新柱状图
                    $('#zhu').highcharts().xAxis[0].setCategories(Top5DataX);
                    $('#zhu').highcharts().series[0].setData(Top5DataY);

                //更新表格数据

                if (countType == "yard") {
                    var columns = [{
                        field: 'domain',
                        title: '345436456',
                        width: 500,
                        align: 'center',
                        valign: 'middle',
                        footerFormatter: function (value) {
                            return "总计";
                        }
                    }, {
                        field: 'ips',
                        title: 'IP数',
                        width: 200,
                        align: 'center',
                        valign: 'middle',
                        class: 'number-thousands',
                        footerFormatter: function (rows) {
                            var sum = 0;
                            for (var i = 0; i < rows.length; i++) {
                                sum += rows[i].ips;
                            }
                            return sum;
                        }
                    }, {
                        field: 'pages',
                        title: '网页访问数',
                        width: 200,
                        align: 'center',
                        valign: 'middle',
                        class: 'number-thousands',
                        footerFormatter: function (rows) {
                            var sum = 0;
                            for (var i = 0; i < rows.length; i++) {
                                sum += rows[i].pages;
                            }
                            return sum;
                        }
                    }, {
                        field: 'hits',
                        title: '请求数',
                        width: 200,
                        align: 'center',
                        valign: 'middle',
                        class: 'number-thousands',
                        footerFormatter: function (rows) {
                            var sum = 0;
                            for (var i = 0; i < rows.length; i++) {
                                sum += rows[i].hits;
                            }
                            return sum;
                        }
                    }, {
                        field: 'downloads',
                        title: '下载量(MB)',
                        width: 200,
                        align: 'center',
                        valign: 'middle',
                        formatter: function (value,
                                             row, index) {
                            var valu = (value / 1024 / 1024).toFixed(2) + "MB";
                            return valu;
                        },
                        footerFormatter: function (rows) {
                            var sum = 0;
                            for (var i = 0; i < rows.length; i++) {
                                sum += rows[i].downloads;
                            }
                            return (sum / 1024 / 1024).toFixed(2) + "MB";
                        }
                    }];
                    $("#table").bootstrapTable('destroy').bootstrapTable({columns: columns});
                }
                $("#table").bootstrapTable('removeAll');
                $("#table").bootstrapTable('append', mapDomain);

                $(":radio[name='countType'][value='" + countType + "']").prop("checked", "checked");
                $(":radio[name='sortType'][value='" + sortType + "']").prop("checked", "checked");
            }

        })
    };



</script>
</body>
</html>