<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>数据服务监控与统计系统</title>
</head>
<body>
<section class="container naturalAnalyse">
    <div class="row">
        <div class="col-md-12">
            当前节点:<strong class="" id="groupSelect"></strong>
            <div class="height-20"></div>
            <strong class="" id="groupIdSelect" style="float: right;display: none"
                    th:text="${dataStatReport.getId()}"></strong>
            <script th:inline="javascript" type="text/javascript">
                var selectVal = $("#groupIdSelect").text();
                var objSel = $("header").find('#groupsList');
                var text = null;
                var ops = objSel.find("option");
                for (var i = 0; i < ops.length; i++) {
                    if (selectVal == ops[i].value) {
                        text = ops[i].text;    //返回当前选定值对应的显示值
                    }
                }
                $("#groupSelect").text(text);
            </script>
            <strong class="groupId" id="groupId" style="float: right"
                    th:text="'?groupID='+${dataStatReport.getId()}"></strong>
            <ul class="nav nav-pills nav-justified ar-nav-pills center-block margin-bottom">
                <li><a class="href" href="#integrator/dataStat/synthesize">综合报告</a></li>
                <li><a class="href" href='#integrator/dataStat/timeAnalyse'>时段分析</a></li>
                <li><a class="href" href="#integrator/dataStat/fromAnalyse">来源分析</a></li>
                <li class="active"><a class="href" href="">资源分析</a></li>
                <li><a class="href" href="#integrator/dataStat/siteAnalyse">站点状态监测</a></li>
                <li><a class="href" href="#integrator/dataStat/rateAnalyse">服务正常率时段分析</a></li>
            </ul>
            <div class="panel panel-primary">
                <div class="panel-heading">资源分析</div>
                <div class="panel-body">
                    <div class="panel-body" id="quarter">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="year">
                                本年
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-1">
                                一季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-2">
                                二季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-3">
                                三季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="quarter-4">
                                四季度
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="halfYear-1">
                                上半年
                            </label>
                            <label class="checkbox-inline">
                                <input name="quarter" type="radio" value="halfYear-2">
                                下半年
                            </label>
                        </div>
                        <div class="" id="chooseMonth">
                            自定义起始年月
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group date">
                                            <input class="form-control" id="datetimepicker10" type="text"/>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group date">
                                            <input class="form-control" id="datetimepicker11" type="text"/>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                </span>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-ar btn-primary" id="chooseYearMonth" onclick="selectTimeTest();"
                                        type="submit">查询
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"> 统计时段：
                    <strong id="period" th:text="20"></strong></div>
                <div class="panel-body">

                    <div style="float: right">
                        选择类型
                        <label class="checkbox-inline">
                            <input name="choose" type="radio" value="hits">
                            请求数
                        </label>
                        <label class="checkbox-inline">
                            <input name="choose" type="radio" value="bandwidth">
                            下载量
                        </label>
                    </div>
                    <div id="dataChart">

                    </div>
                    <div id="dataTable">

                    </div>
                    <script th:inline="javascript">
                        // 数据访问量饼状图
                        var mapServiceRate = [[${dataStatReport.fileTypeList}]];
                        var arrData = [];
                        var length = mapServiceRate.length;
                        var others = null;
                        var sum = 0;
                        if (length > 9) {
                            for (var i = 9; i < length; i++) {
                                sum = sum + mapServiceRate[i].sumHits;
                            }

                            length = 9;
                            others = {"name": "其它", "y": 123123};
                        }
                        for (var i = 0; i < length; i++) {
                            var data = {"name": mapServiceRate[i].fileType, "y": mapServiceRate[i].sumHits};
                            arrData.push(data);

                        }
                        ;
                        arrData.push(others);

                        Highcharts.chart('dataChart', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {text: '文件类型统计'},
                            tooltip: {
                                pointFormat: '<b>{point.y} </b><br>比例：<b>{point.percentage:.2f}%</b>',

                                // formatter: function () {
                                //     return '<b>' + Highcharts.dateFormat('%Y-%m', this.y) + '</b><br/>' + {point.percentage:.2f}% + 'GB';
                                // }
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        // enabled: false
                                    },
                                    showInLegend: true,
                                    point: {
                                        events: {
                                            legendItemClick: function () {
                                                return false;
                                            }
                                        }
                                    },
                                }
                            },
                            series: [{
                                colorByPoint: true,
                                data: arrData
                            }]
                        });

                        // 数据访问量图表
                        var resultList = [[${dataStatReport.fileTypeList}]];
                        var dynamicHeader = [];
                        dynamicHeader.push({
                            field: 'fileType',
                            title: '文件类型',
                            align: 'center',
                            width: 500,
                            valign: "middle",
                        }, {
                            field: 'sumHits',
                            title: '请求量',
                            align: 'center',
                            width: 800,
                            valign: "middle",
                            formatter: function (value,
                                                 row, index) {
                                var valu = Highcharts.numberFormat((value), 0, '.', ',');
                                return valu;
                            },
                        }, {
                            field: 'sumBandWidth',
                            title: '下载量',
                            align: 'center',
                            width: 800,
                            valign: "middle",
                            //class:'number-thousands',
                            formatter: function (value,
                                                 row, index) {
                                var valu = Highcharts.numberFormat((value / 1024 / 1024), 2, '.', ',') + 'MB';
                                return valu;
                            },
                        });
                        $('#dataTable').bootstrapTable({
                            data: resultList,
                            columns: dynamicHeader,
                            showFooter: true
                        });
                        $('#dataTable').bootstrapTable('hideLoading');
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            //设置统计时段
            var pDate = new Date;
            var pYear = pDate.getFullYear(); //获取当前年
            $("#period").text(pYear + "年");
            //1、设置查询时间默认选中项
            $("input[name='quarter'][value='year']").attr("checked", true);
            //2、设置排序方式默认选中项
            $("input[name='choose'][value='hits']").attr("checked", true);
        });


        // 初始化时间插件
        var $datetimepickerBegin = $('#datetimepicker10');
        var beginDate = new Date();
        $datetimepickerBegin.datepicker({
            minViewMode: 1, // 最小显示为月份
            autoclose: true, // 自动关闭
            format: 'yyyy/mm',
            endDate: new Date(),
            language: 'zh-CN'
        }).on("changeDate", function (date) {
            beginDate = date.date;
            initDatetimepickerEnd();
        });


        var $datetimepickerEnd = $('#datetimepicker11');

        function initDatetimepickerEnd() {
            $datetimepickerEnd.datepicker("destroy");
            $datetimepickerEnd.datepicker({
                minViewMode: 1,
                autoclose: true,
                format: 'yyyy/mm',
                endDate: new Date(),
                language: 'zh-CN',
                startDate: beginDate,
                beforeShowMonth: function (date) {
                    var time = $datetimepickerBegin.val().split("\/");
                    if (date < new Date(time[0], time[1] - 1, 1)) {
                        return false;
                    }
                }
            });
        }

        initDatetimepickerEnd();

        var $datetimepickerMonth = $('#datetimepicker101');
        $datetimepickerMonth.datepicker({
            minViewMode: 1,
            autoclose: true,
            format: 'yyyy/mm',
            language: 'zh-CN'
        });

        $("#quarter input[name='quarter']").on("change", function () {
            var _this = this;
            var symbol = _this.value;
            var timeConvert = msisAPP.radioTimeConvert(symbol);
            var startDate = timeConvert.begin;
            var endDate = timeConvert.end;
            var groupsList = $("#groupsList option:selected");
            var groupID = groupsList.val();
            var orderBy = "hits";
            $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
            selectData(groupID, startDate, endDate, orderBy);
            //设置排序方式默认选中项
            $("input[name='choose'][value='bandwidth']").removeAttr("checked");
            $("input[name='choose'][value='hits']").prop("checked", "checked");
        });

        function selectTimeTest() {
            if ($datetimepickerBegin.val().length === 0 || $datetimepickerEnd.val().length === 0) {
                $.myNotify.warning("请选择完整时间！");
                return;
            }
            var begin = msisAPP.selectTimeConvert($datetimepickerBegin.val());
            var end = msisAPP.selectTimeConvert($datetimepickerEnd.val());
            var startDate = begin.begin;
            var endDate = end.end;
            var groupsList = $("#groupsList option:selected");
            var groupID = groupsList.val();
            var orderBy = "hits";
            $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
            //设置排序方式默认选中项
            $("input[name='choose'][value='bandwidth']").removeAttr("checked");
            $("input[name='choose'][value='hits']").prop("checked", "checked");
            selectData(groupID, startDate, endDate, orderBy);
        };

        $("input[name='choose']").on("change", function () {
            var orderBy = this.value;
            var val = $('input:radio[name="quarter"]:checked').val();
            var begin = msisAPP.selectTimeConvert($datetimepickerBegin.val());
            var startDate = null;
            var endDate = null;
            if (val != null) {
                var symbol = $('input:radio[name="quarter"]:checked').val();
                var timeConvert = msisAPP.radioTimeConvert(symbol);
                startDate = timeConvert.begin;
                endDate = timeConvert.end;
            }
            $("#period").text(startDate.substring(0, 4) + "年" + startDate.substring(4, 6) + "月至" + endDate.substring(0, 4) + "年" + endDate.substring(4, 6) + "月");
            var groupsList = $("#groupsList option:selected");
            var groupID = groupsList.val();
            selectData(groupID, startDate, endDate, orderBy);
        });

        function selectData(groupID, startDate, endDate, orderBy) {
            var param = $("body .groupId").text();
            var href = "../integrator/dataStat/naturalAnalyse/getData" + param;
            $.ajax({
                type: "POST",
                url: href,
                data: {"groupID": groupID, "startDate": startDate, "endDate": endDate, "orderBy": orderBy},
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    //重新加载数据
                    var mapServiceRate = data.fileTypeList;
                    var arrData = [];
                    var length = mapServiceRate.length;
                    var data = null;
                    if (length > 9) {
                        length = 9;
                    }
                    for (var i = 0; i < length; i++) {
                        if (orderBy == "hits") {
                            data = {"name": mapServiceRate[i].fileType, "y": mapServiceRate[i].sumHits};
                        } else {
                            data = {"name": mapServiceRate[i].fileType, "y": mapServiceRate[i].sumBandWidth};
                        }
                        arrData.push(data);
                    }
                    ;
                    $('#dataChart').highcharts().series[0].update({
                        data: arrData
                    });


                    //更新表格数据
                    $("#dataTable").bootstrapTable('removeAll');
                    $("#dataTable").bootstrapTable('append', mapServiceRate);

                }


            });
        }

        msisAPP.numberFormat();
    </script>
</section>
</body>
</html>