<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>数据服务监控与统计系统</title>
</head>
<body>
<section class="container synthesize">
    <div class="row">
        <div class="col-md-12">
            当前节点:<strong class="" id="groupSelect"></strong>
            <div class="height-20"></div>
            <strong class="" id="groupIdSelect" style="float: right;display: none"
                    th:text="${dataStatReport.getId()}"></strong>
            <strong class="groupId" id="groupId" style="float: right;display: none"
                    th:text="'?groupID='+${dataStatReport.getId()}"></strong>
            <ul class="nav nav-pills nav-justified ar-nav-pills center-block margin-bottom">
                <li class="active"><a class="href" href="#integrator/dataStat/synthesize">综合报告</a></li>
                <li><a class="href" href='#integrator/dataStat/timeAnalyse'>时段分析</a></li>
                <li><a class="href" href="#integrator/dataStat/fromAnalyse">来源分析</a></li>
                <li><a class="href" href="#integrator/dataStat/naturalAnalyse">资源分析</a></li>
                <li><a class="href" href="#integrator/dataStat/siteAnalyse">站点状态监测</a></li>
                <li><a class="href" href="#integrator/dataStat/rateAnalyse">服务正常率时段分析</a></li>
            </ul>
            <div class="tab-pane">
                <div class="panel panel-primary">
                    <div class="panel-heading">综合报告</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">统计指标</div>
                            <div class="panel-body" id="chooseTime">
                                <table class="table">
                                    <tr>
                                        <td></td>
                                        <td>浏览器用户</td>
                                        <td>非浏览器用户</td>
                                    </tr>
                                    <tr>
                                        <td>累计独立IP</td>
                                        <td><strong class="number-thousands"
                                                    id="SumTotalUnique"
                                                    th:text="${dataStatReport.getSumTotalUnique()}"></strong></td>
                                        <td>- -</td>
                                    </tr>
                                    <tr>
                                        <td>累计访问人次</td>
                                        <td><strong class="number-thousands"
                                                    id="SumTotalVisits"
                                                    th:text="${dataStatReport.getSumTotalVisits()}"></strong>
                                            <p class="" id="VisitsIP"
                                               th:text="${(dataStatReport.getSumTotalUnique().doubleValue())==0}?'('+'- -访问人次/独立IP)':${'('+#numbers.formatDecimal((dataStatReport.getSumTotalVisits().doubleValue())/(dataStatReport.getSumTotalUnique().doubleValue()),0,2) +'访问人次/独立IP)'}"></p>
                                        </td>
                                        <td>- -</td>
                                    </tr>
                                    <tr>
                                        <td>累计页面访问数</td>
                                        <td>
                                            <strong class="number-thousands"
                                                    id="Pages"
                                                    th:text="${dataStatReport.getPages()}"></strong>
                                            <p class="" id="PagesVisits"
                                               th:text="${(dataStatReport.getSumTotalVisits().doubleValue())==0}?'('+'- -页面访问数/访问人次)':${'('+#numbers.formatDecimal(dataStatReport.getPages().doubleValue()/dataStatReport.getSumTotalVisits().doubleValue(),0,2) +'页面访问数/访问人次)'}"></p>
                                        </td>
                                        <td><strong class="number-thousands"
                                                    id="RobotPages"
                                                    th:text="${dataStatReport.getRobotPages()}"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>累计文件数</td>
                                        <td><strong class="number-thousands"
                                                    id="Hits"
                                                    th:text="${dataStatReport.getHits()}"></strong>
                                            <p class="" id="HitsVisits"
                                               th:text="${(dataStatReport.getSumTotalVisits().doubleValue())==0}?'('+'- -文件数/访问人次)':'('+${#numbers.formatDecimal(dataStatReport.getHits().doubleValue()/dataStatReport.getSumTotalVisits().doubleValue(),0,2)+'文件数/访问人次)'}"></p>
                                        </td>
                                        <td><strong class="number-thousands"
                                                    id="RobotHits"
                                                    th:text="${dataStatReport.getRobotHits()}"></strong></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>累计下载量</td>
                                        <td><strong class="number-GB"
                                                    id="Bandwidth"
                                                    th:text="${dataStatReport.getBandwidth()}"></strong>
                                            <p class="number-thousands" id="BandwidthVisits"
                                               th:text="${(dataStatReport.getSumTotalVisits().doubleValue())==0}?'('+'- -字节/访问人次)':  '('+${#numbers.formatDecimal(dataStatReport.getBandwidth().doubleValue()/dataStatReport.getSumTotalVisits().doubleValue(),0,2)}+'字节/访问人次)'"></p>
                                        </td>
                                        <td><strong class="number-GB"
                                                    id="RobotBandwidth"
                                                    th:text="${dataStatReport.getRobotBandwidth()}"></strong></td>
                                    </tr>
                                </table>
                                <span style="color: red">* 非浏览的用户包括搜索引擎机器人，蠕虫病毒产生的流量和非正常的HTTP相应</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">数据访问量统计</div>
                            <div class="panel-body" id="visitStatChart">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">数据下载量统计</div>
                            <div class="panel-body" id="downStatChart">

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">近一个月服务正常率统计</div>
                            <div class="panel-body" id="rateChart">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">数据来源统计</div>
                            <div class="panel-body" id="fromChart">
                            </div>
                            <div class="panel-body" id="fromTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<script th:inline="javascript" type="text/javascript">
    //设置当前节点
    var selectVal = $("#groupIdSelect").text();
    var objSel = $("header").find('#groupsList');
    var text = null;
    var ops = objSel.find("option");
    for (var i = 0; i < ops.length; i++) {
        if (selectVal == ops[i].value) {
            text = ops[i].text;    //返回当前选定值对应的显示值
        }
    }
    $("#groupSelect").text(text);
</script>
<script th:inline="javascript">

    initPage();

    function initPage() {
        var groupsList = $("#groupsList option:selected");
        var groupID = groupsList.val();
        var href = "../integrator/dataStat/synthesize/initPage";
        $.ajax({
            type: "POST",
            url: href,
            data: {"groupID": groupID},
            dataType: "json",

            beforeSend: function () {
            },
            success: function (data) {
                $("#groupSelect").text(groupsList.text());
                $("#groupIdSelect").text(groupsList.val());
                $("#groupId").text("?groupID=" + groupsList.val());
//重新加载数据
                $("body #SumTotalUnique").text(data.sumTotalUnique);
                $("body #SumTotalVisits").text(data.sumTotalVisits);
                $("body #Pages").text(data.pages);
                $("body #Hits").text(data.hits);
                $("body #Bandwidth").text(data.bandwidth);
                $("body #RobotPages").text(data.robotPages);
                $("body #RobotHits").text(data.robotHits);
                $("body #RobotBandwidth").text(data.robotBandwidth);
                $("body #RobotPages").text(data.robotPages);

                //${'('+#numbers.formatDecimal((dataStatReport.getSumTotalVisits().doubleValue())/(dataStatReport.getSumTotalUnique().doubleValue()),0,2) +'访问人次/独立IP)'}
                var VisitsIP = '(' + ((data.sumTotalVisits / data.sumTotalUnique).toFixed(2)) + '访问人次/独立IP)';
                var PagesVisits = '(' + (data.pages / data.sumTotalVisits).toFixed(2) + '页面访问数/访问人次)';
                var HitsVisits = '(' + (data.hits / data.sumTotalVisits).toFixed(2) + '文件数/访问人次)';
                var BandwidthVisits = '(' + (data.bandwidth / data.sumTotalVisits).toFixed(2) + '字节/访问人次)';
                if (data.sumTotalUnique == 0) {
                    VisitsIP = '(- -访问人次/独立IP)';
                }
                if (data.sumTotalVisits == 0) {
                    PagesVisits = '(- -页面访问数/访问人次)';
                    HitsVisits = '(- -文件数/访问人次)';
                    BandwidthVisits = '(- -字节/访问人次)';
                }
                $("body #VisitsIP").text(VisitsIP);
                $("body #PagesVisits").text(PagesVisits);
                $("body #HitsVisits").text(HitsVisits);
                $("body #BandwidthVisits").text(BandwidthVisits);

                // 数据访问量折线图
                var listVisit = data.visitDaily == null ? [] : data.visitDaily;
                $.each(listVisit, function (index) {
                    var time = listVisit[index][0];
                    var year = Math.floor(time / 10000);
                    var month = Math.floor(time % 10000 / 100);
                    var day = time % 10000 % 100;
                    var date = Date.UTC(year, month - 1, day);
                    listVisit[index][0] = date;
                });
                Highcharts.chart('visitStatChart', {
                    chart: {
                        zoomType: 'x'
                    },
                    boost: {
                        useGPUTranslations: true
                    },
                    title: {
                        text: '数据访问量统计'
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: '日期'
                        },
                        labels: {
                            step: 1,
                            formatter: function () {
                                return Highcharts.dateFormat('%Y-%m-%d', this.value);
                            }
                        }

                    },
                    yAxis: {
                        title: {
                            text: '访问量'
                        }
                    },
                    tooltip: {
                        valueDecimals: 0,
                        formatter: function () {
                            return '<b>' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '</b><br/>' + '日访问量:' + Highcharts.numberFormat((this.y), 0, '.', ',');
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                // enabled: false
                            },
                            showInLegend: true,
                            point: {
                                events: {
                                    legendItemClick: function () {
                                        return false;
                                    }
                                }
                            },
                        }
                    },
                    legend: {
                        enabled: true,
                        align: "left",
                        verticalAlign: "top" //垂直标的目标地位
                    },
                    series: [{
                        type: 'line',
                        name: '日访问量',
                        data: listVisit,
                        lineWidth: 0.8
                    }]
                });

                Highcharts.chart('fromChart', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: "用户来源统计（国家）"
                    },
                    tooltip: {
                        pointFormat: '<b>IP数：{point.y}</b><br/><b>比率:{point.percentage:.2f}%</b>',
                    },
                    xAxis: {
                        categories: [],
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            dataLabels: {
                                enabled: true,
                            },
                            showInLegend: true
                        },
                    },
                    legend: {
                        layout: "vertical",
                        align: "left",
                        verticalAlign: "center",
                        itemMarginBottom: 10,
                        x: 150,
                        y: 70,
                        labelFormatter: function () {
                            return this.name + "(" + this.percentage.toFixed(2) + "%)";
                        }
                    },
                    series: [
                        {
                            name: "站点",
                            data: []
                        }
                    ]
                });
                var pieData = new Array();
                var Top10Data = new Array();
                var countSum = 0;
                //null
                data.countryCount == null ? [] : data.countryCount;
                for (var i = 0; i < data.countryCount.length; i++) {
                    pieData.push({name: data.countryCount[i].domain, y: parseInt(data.countryCount[i].ips)});
                    countSum = countSum + data.countryCount[i].ips;
                }
                Top10Data = pieData.slice(0, 9);
                var elseData = 0;
                for (var j = 0; j < Top10Data.length; j++) {
                    elseData = elseData + parseInt(Top10Data[j].y);
                }
                if (data.countryCount.length > 9) {
                    Top10Data.push({name: "其他", y: countSum - elseData});
                }
                $('#fromChart').highcharts().series[0].setData(Top10Data);

                //用户来源统计（表格）
                var dynamicHeader = [];
                dynamicHeader.push({
                    field: 'domain',
                    title: '来源地区',
                    width: 500,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: function (value) {
                        return "总计";
                    }
                }, {
                    field: 'ips',
                    title: 'IP数',
                    width: 200,
                    align: 'center',
                    valign: 'middle',
                    class: 'number-thousands',
                    footerFormatter: function (rows) {
                        var sum = 0;
                        for (var i = 0; i < rows.length; i++) {
                            sum += rows[i].ips;
                        }
                        return sum;
                    }
                }, {
                    field: 'pages',
                    title: '网页访问数',
                    width: 200,
                    align: 'center',
                    valign: 'middle',
                    class: 'number-thousands',
                    footerFormatter: function (rows) {
                        var sum = 0;
                        for (var i = 0; i < rows.length; i++) {
                            sum += rows[i].pages;
                        }
                        return sum;
                    }
                }, {
                    field: 'hits',
                    title: '请求数',
                    width: 200,
                    align: 'center',
                    valign: 'middle',
                    class: 'number-thousands',
                    footerFormatter: function (rows) {
                        var sum = 0;
                        for (var i = 0; i < rows.length; i++) {
                            sum += rows[i].hits;
                        }
                        return sum;
                    }
                }, {
                    field: 'downloads',
                    title: '下载量(MB)',
                    width: 200,
                    align: 'center',
                    valign: 'middle',
                    class: 'number-thousands',
                    formatter: function (value,
                                         row, index) {
                        var valu = (value / 1024 / 1024).toFixed(2) + "MB";
                        return valu;
                    },
                    footerFormatter: function (rows) {
                        var sum = 0;
                        for (var i = 0; i < rows.length; i++) {
                            sum += rows[i].downloads;
                        }
                        return (sum / 1024 / 1024).toFixed(2) + "MB";
                    }
                });
                $('#fromTable').bootstrapTable({
                    columns: dynamicHeader,
                    showFooter: true
                });
                $("#fromTable").bootstrapTable('append', data.countryCount);


                // 数据下载量折线图
                //null
                var listDownloads = data.downDaily == null ? [] : data.downDaily;
                $.each(listDownloads, function (index) {
                    var time = listDownloads[index][0];
                    var year = Math.floor(time / 10000);
                    var month = Math.floor(time % 10000 / 100);
                    var day = time % 10000 % 100;
                    var date = Date.UTC(year, month - 1, day);
                    listDownloads[index][0] = date;
                });
                Highcharts.chart('downStatChart', {
                    chart: {
                        zoomType: 'x'
                    },
                    boost: {
                        useGPUTranslations: true
                    },
                    title: {
                        text: '数据下载量统计'
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: '日期'
                        },
                        labels: {
                            step: 1,
                            formatter: function () {
                                return Highcharts.dateFormat('%Y-%m-%d', this.value);
                            }
                        }

                    },
                    yAxis: {
                        title: {
                            text: '下载量'
                        }
                    },
                    tooltip: {
                        valueDecimals: 0,
                        formatter: function () {
                            return '<b>' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '</b><br/>' + '日下载量:' + Highcharts.numberFormat((this.y / 1024 / 1024), 0, '.', ',') + 'MB';
                        }
                    },
                    series: [{
                        type: 'line',
                        name: '日下载量',
                        data: listDownloads,
                        lineWidth: 0.8
                    }]
                });

                // 近30天服务正常率折线图
                //null
                var listNormalRate = data.normalRate == null ? [] : data.normalRate;
                $.each(listNormalRate, function (index) {
                    var time = listNormalRate[index][0];
                    var year = Math.floor(time / 10000);
                    var month = Math.floor(time % 10000 / 100);
                    var day = time % 10000 % 100;
                    var date = Date.UTC(year, month - 1, day);
                    listNormalRate[index][0] = date;
                    //var rate=listNormalRate[index][1];
                    //var rateNew =  (rate/100).toFixed(2);
                    //listNormalRate[index][1] = rateNew;
                });
                Highcharts.chart('rateChart', {
                    chart: {
                        zoomType: 'x'
                    },
                    boost: {
                        useGPUTranslations: true
                    },
                    title: {
                        text: '近30天服务正常率统计'
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: '日期'
                        },
                        labels: {
                            step: 1,
                            formatter: function () {
                                return Highcharts.dateFormat('%Y-%m-%d', this.value);
                            }
                        }

                    },
                    yAxis: {
                        title: {
                            text: '服务正常率'
                        },
                        labels: {
                            step: 1,
                            formatter: function () {
                                return Highcharts.numberFormat((this.value / 100), 2) + '%';
                            }
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + Highcharts.dateFormat('%Y-%m-%d', this.x) + '</b><br/>' + Highcharts.numberFormat((this.y / 100), 2) + '%';
                        }
                    },
                    series: [{
                        type: 'line',
                        name: '服务正常率',
                        data: listNormalRate,
                        lineWidth: 0.8
                    }]
                });
                msisAPP.numberFormat();
            }
        });
    }
    // 格式化数字显示
    msisAPP.numberFormat();
</script>
</body>
</html>