<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>数据服务监控与统计系统</title>
    <!-- favicon icon -->
    <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!--jquery-->
    <!--<script th:src="@{/static/bundles/jquery-3.4.1/jquery-3.4.1.min.js}"></script>-->
    <script th:src="@{/static/bundles/jquery-3.4.1/jquery-3.4.1.js}"></script>
    <!--bootstrap-->
    <script th:src="@{/static/bundles/bootstrap-4.3.1/js/bootstrap.bundle.min.js}"></script>
    <!--adminlte-->
    <script th:src="@{/static/bundles/AdminLTE-2.4.17/js/adminlte.js}"></script>
    <!--vendors-->
    <link rel="stylesheet" th:href="@{/static/bundles/vendors/css/style-blue.css}"/>
    <link rel="stylesheet" th:href="@{/static/bundles/vendors/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/static/bundles/vendors/css/vendors.css}"/>
    <script th:src="@{/static/bundles/vendors/js/vendors.js}"></script>

    <!--jquery-validate-->
    <link rel="stylesheet" th:href="@{/static/bundles/jquery-validation-1.19.1/css/cmxform.css}"/>
    <script th:src="@{/static/bundles/jquery-validation-1.19.1/js/jquery.validate.min.js}"></script>
    <!--bootstrap-notify--->
    <link rel="stylesheet" th:href="@{/static/bundles/bootstrap-notify-3.1.5/css/animate.css}"/>
    <script th:src="@{/static/bundles/bootstrap-notify-3.1.5/js/bootstrap-notify.js}"></script>
    <!--bootstrap-table-->
    <link rel="stylesheet" th:href="@{/static/bundles/bootstrap-table-1.15.4/css/bootstrap-table.min.css}"/>
    <script th:src="@{/static/bundles/bootstrap-table-1.15.4/js/bootstrap-table.js}"></script>
    <script th:src="@{/static/bundles/bootstrap-table-1.15.4/js/local/bootstrap-table-zh-CN.min.js}"></script>
    <!--zTree-->
    <link rel="stylesheet" th:href="@{/static/bundles/zTree/css/zTreeStyle/zTreeStyle.css}">
    <script th:src="@{/static/bundles/zTree/js/jquery.ztree.core.js}"></script>
    <!--<script th:src="@{/static/bundles/zTree/js/jquery.ztree.all.js}"></script>-->

    <!--自定义-->
    <link rel="stylesheet" th:href="@{/static/bundles/msis/css/admin.css}"/>
    <script th:src="@{/static/bundles/msis/js/msisapp.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed base gray">
<div class="loadingdiv" id="layer">
    <img alt="图片加载中···" src="../img/preload.gif"/>asdasd
</div>
<!-- Site wrapper -->
<div class="wrapper">

    <!--header-->
    <div th:replace="~{manage/header :: header}"></div>

    <div class="row" style="min-height: 850px">
        <!--sidebar-->
        <div th:replace="~{manage/content-sidebar :: content-sidebar}"></div>

        <!-- content-wrapper -->
        <div th:replace="~{manage/content-wrapper :: content-wrapper}"></div>
    </div>

    <div th:replace="~{manage/footer :: footer}"></div>
</div>
<!-- ./wrapper -->
</body>
<script th:src="@{/static/bundles/msis/js/admin.js}"></script>
</html>